body {
	background-color: #141414;
	display: flex;
	justify-content: center;
}

#resBody {
	background-color: #282828;
	width: 75%;
	display: flex;
	flex-direction: column;
}

#sect1 {
	display: flex;
	flex-wrap: wrap;
}

#sect1 img {
	width: 100px;
	height: 100px;
}

#sect1 > * {
	border: red dotted 1px;
}

#sect1 div:nth-child(1) {
	flex: 2;
	display: flex;
	flex-wrap: wrap;
}

#sect1 div:nth-child(2) {
	flex: 1;	
}

#sect2 {
	display: flex;
}

#sect2 > * {
	border: aqua dotted 1px;
}

#sect2 > div {
	flex: 1;
}

#sect2 > aside {
	flex: 0.35;
}